
.user-wrapper {
  padding: 2rem;
  width: 100%;
}


.user-product-card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}
