.nav-wrapper {
  width: 100%;
  background: #f5f5f5;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.nav-search {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.nav-search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.nav-filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 1rem;
}

.price-filter {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.price-filter label {
  margin-bottom: 0.3rem;
  color: #444;
  font-weight: 600;
}

.price-filter input[type="range"] {
  width: 140px;
}

@media (max-width: 900px) {
  .nav-filters {
    flex-wrap: wrap; 
    width: 100%;
  }

  .price-filter input[type="range"] {
    width: 100%; 
  }

  .nav-search {
    width: 100%; 
  }
}

.price-filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.price-dropdown {
  padding: 0.5rem;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 1rem;
}

.filter-title {
  /* margin-bottom: 4px; */
  margin:0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
}


