.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width:100%;
  gap: 10px;
  align-items: center;
}

.page-btn {
  padding: 8px 14px;
  cursor: pointer;
  background: gray;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.page-btn:hover {
  background: darkgray;
}

.page-btn.active {
  background: #3949ab;
}

.page-btn.disabled {
  background: #ccc;
  cursor: not-allowed;
}
