.product-card {
  background: white;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  padding: 0;
  text-align: center;
  transition: 0.2s ease;
  width: 100%;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

